                    <div class="col-xs-12 col-sm-3">
                        <h2>Filtros</h2>
                        <form action="#">
                            <div class="form-group">
                                <label for="min">Preço Mínimo: {{min | currency}}</label>
                                <input type="range" id="min" class="form-control" min="{{minPreco}}" max="{{maxPreco}}" value="0" ng-model="min">
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="max">Preço Máximo  {{max | currency}}</label>
                                    <input type="range" id="max" class="form-control" min="{{minPreco}}" max="{{maxPreco}}" value="10000" ng-model="max">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="keyword">Palavra-Chave</label>
                                    <input type="text" id="keyword" class="form-control" ng-model="keyword">
                                </div>
                            </div>
                            <div class="radio" ng-init="order='titulo'">
                                <label><input type="radio" name="order" ng-model="order" value="titulo"> Ordenar por nome</label>
                                <label><input type="radio" name="order" ng-model="order" value="preco"> Ordenar por preço</label>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <h2>Produtos</h2>
                        <div class="row" id="produtos">
                            <div class="col-xs-12" ng-show="filtered.length === 0">
                                <p class="alert alert-warning">Nenhum produto atende o critério especificado nos filtros...</p>
                            </div>
                            <div class="col-xs-12 col-sm-4" ng-repeat="p in produtos | orderBy: order | filter: keyword | filter: filtro as filtered">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{p.nome}}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>{{p.preco | currency}}</p>
                                        <p><a href="#!/produto/{{p.id}}" class="btn btn-info">Detalhes</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>